# Exploring the grandmaster battles
## 0. Environment and Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
performance = pd.read_csv("../data/final/performance.csv", sep=",")
performance.head()

,Name_1,Level_1,Price_1,HP_1,Attack_1,Defense_1,Sp_Atk_1,Sp_Def_1,Speed_1,Legendary_1,...,res_krabby,res_mewtwo,res_raichu,res_venusaur,hppr_caterpie,hppr_golem,hppr_krabby,hppr_mewtwo,hppr_raichu,hppr_venusaur
0,Abra,4,346,32,22,17,115,61,99,False,...,-179.35338,-684.09970,-222.42577,-173.653670,0.000000,0.0,0.0,0.0,0.0,0.0
1,Abra,26,614,80,38,26,197,103,170,False,...,-178.42506,-679.82420,-221.97230,-157.285130,0.887533,0.0,0.0,0.0,0.0,0.0
2,Abra,33,775,102,48,33,247,131,214,False,...,-155.15506,-679.60570,-219.45630,-99.916725,0.925494,0.0,0.0,0.0,0.0,0.0
3,Abra,45,937,129,56,39,298,158,257,False,...,-148.49413,-681.31476,-217.22935,-52.117302,0.972685,0.0,0.0,0.0,0.0,0.0
4,Abra,46,963,133,58,40,306,162,264,False,...,-147.37520,-681.24970,-216.34810,-36.872240,0.976467,0.0,0.0,0.0,0.0,0.0

In [4]:
enemies = ["caterpie", "golem", "krabby", "mewtwo", "raichu", "venusaur"]

## 1. Minimum price to win battle

In [5]:
for enemy in enemies:
    min_price = np.min(performance.loc[performance[f"res_{enemy}"] > 0, "Price_1"])
    print(f"Minimum price to beat enemy {enemy}: {min_price}")

Minimum price to beat enemy caterpie: 267
Minimum price to beat enemy golem: 935
Minimum price to beat enemy krabby: 984
Minimum price to beat enemy mewtwo: 2840
Minimum price to beat enemy raichu: 760
Minimum price to beat enemy venusaur: 539

In [13]:
total_cost = []
target = 0.0
for enemy in enemies:
    min_price = np.min(
        performance.loc[performance[f"hppr_{enemy}"] > target, "Price_1"]
    )
    if not enemy == "mewtwo":
        total_cost.append(min_price)
    else:
        total_cost.append(205)
print(f"Minimum price to beat enemy {enemy} with HPPR>{target}: {min_price}")
print(f"Total cost assuming minimal cost for mewtwo: {np.sum(total_cost)}")
print(f"Total score assuming loss for mewtwo: {5*target/6}")

Minimum price to beat enemy caterpie with HPPR>0.7: 288
Total cost assuming minimal cost for mewtwo: 288
Total score assuming loss for mewtwo: 0.5833333333333334
Minimum price to beat enemy golem with HPPR>0.7: 1129
Total cost assuming minimal cost for mewtwo: 1417
Total score assuming loss for mewtwo: 0.5833333333333334
Minimum price to beat enemy krabby with HPPR>0.7: 1387
Total cost assuming minimal cost for mewtwo: 2804
Total score assuming loss for mewtwo: 0.5833333333333334
Minimum price to beat enemy mewtwo with HPPR>0.7: 3815
Total cost assuming minimal cost for mewtwo: 3009
Total score assuming loss for mewtwo: 0.5833333333333334
Minimum price to beat enemy raichu with HPPR>0.7: 956
Total cost assuming minimal cost for mewtwo: 3965
Total score assuming loss for mewtwo: 0.5833333333333334
Minimum price to beat enemy venusaur with HPPR>0.7: 719
Total cost assuming minimal cost for mewtwo: 4684
Total score assuming loss for mewtwo: 0.5833333333333334

## 2. Top 5 cheapest pokemons

In [6]:
performance.sort_values("Price_1").head()

,Name_1,Level_1,Price_1,HP_1,Attack_1,Defense_1,Sp_Atk_1,Sp_Def_1,Speed_1,Legendary_1,...,res_krabby,res_mewtwo,res_raichu,res_venusaur,hppr_caterpie,hppr_golem,hppr_krabby,hppr_mewtwo,hppr_raichu,hppr_venusaur
610,Kakuna,1,205,45,25,50,25,25,35,False,...,-183.61305,-682.71277,-222.13140,-178.54169,0.000000,0.0,0.0,0.0,0.0,0.0
200,Diglett,1,265,10,55,25,35,45,95,False,...,-177.59180,-683.98440,-223.44510,-172.02145,0.000000,0.0,0.0,0.0,0.0,0.0
1380,Weedle,13,267,68,45,38,26,26,64,False,...,-180.65623,-682.30300,-226.09950,-175.43123,0.698987,0.0,0.0,0.0,0.0,0.0
1090,Rattata,4,274,37,59,37,27,37,77,False,...,-180.42030,-681.05960,-220.42024,-173.02437,0.000000,0.0,0.0,0.0,0.0,0.0
700,Magikarp,13,277,53,10,69,17,26,102,False,...,-175.40228,-683.31740,-221.79253,-171.73582,0.161749,0.0,0.0,0.0,0.0,0.0

A possible strategy could be to write off the Mewtwo battle, because it is too expensive to win.
Instead, one could assign the cheapest possible pokemon to Mewtwo (which isn't like to win any
battle anyways) and only optimize over the remaining 5 battles with a budget of 
3500 - {cost of cheapest pokemon}.

In [7]:
performance.loc[performance.SelectedPokemonID == 611, :]

,Name_1,Level_1,Price_1,HP_1,Attack_1,Defense_1,Sp_Atk_1,Sp_Def_1,Speed_1,Legendary_1,...,res_krabby,res_mewtwo,res_raichu,res_venusaur,hppr_caterpie,hppr_golem,hppr_krabby,hppr_mewtwo,hppr_raichu,hppr_venusaur
610,Kakuna,1,205,45,25,50,25,25,35,False,...,-183.61305,-682.71277,-222.1314,-178.54169,0.0,0.0,0.0,0.0,0.0,0.0